table.table.table-condensed
	thead
		tr
			th id
			th names
			th modules
			th size
			th parents
			th flags
	tbody
		each chunk in stats.chunks
			tr
				td: a.btn.btn-info(href="#chunk/#{chunk.id}")= chunk.id
				td
					each name in chunk.names
						code= name
						= " "
				td= chunk.modules ? chunk.modules.length : "N/A"
				td= require("../../formatSize")(chunk.size)
				td
					each parent in chunk.parents
						a.btn.btn-info(href="#chunk/#{parent}")= parent
						= " "
				td
					if chunk.rendered
						span.label.label-success rendered
						= " "
					if chunk.initial
						span.label.label-info initial
						= " "
					if chunk.entry
						span.label.label-danger entry
